    .occ{
        min-width: 200px;
        min-height: 200px;
    }
  .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }

    .container {
        margin-top: 10px
    }

    img {
        max-width: 100%;
        border-radius: 7px;
    }
    video {
    border-radius: 10px;
}

    .downloadbutton,
    .contactbutton {
        cursor: pointer;
        margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00000c29;
    width: 200px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    .downloadbutton:active,
    .contactbutton:active {
        box-shadow: 0px 0px 4px 4px #cbcbcb62;

        /* Green */
    }